#banner {
    background: #ECE8E2;
    width: 65vw;
    min-height: 45vh;
}

.banner_close {
    top: 1vw;
    right: 3vw;
    position: absolute;
    width: 5vw;
    height: 5vw;
    font-size: 36px;
    z-index: 100;
}

#banner h2 {
    background: url(../img/banner/clock1.svg) no-repeat left center, url(../img/banner/clock2.svg) no-repeat 5vw center;
    background-size: 10vw, 1.5vw;
    padding-left: 7vw;
    min-height: 7vw;
    width: 90%;
    margin: 1em auto 0;
}

#banner h2 .num {
    float: left;
    font-weight: bold;
    font-size: 12vw;
    line-height: 1.1;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
}

#banner h2 .grey {
    font-weight: bold;
    font-size: 1.8vw;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #444444;
    opacity: 0.5;
    display: block;
    padding-top: 1.65em;
}

#banner h2 .text {
    font-weight: bold;
    font-size: 5vw;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
    display: block;
    margin-top: 20px;
}

.string {
    transform: skewY(-5.16deg);
}

#marquee {
    overflow: hidden;
    width: 100%;
    background: #fff;
}

#marquee span {
    width: 50%;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 1.8vw;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
}

#marquee div {
    width: 200%;
}

#banner .bottom {
    background: #F8AD03;
    position: relative;
    margin-top: 75px;
}

#banner .bottom .top-transform {
    transform: skewY(-5.16deg);
    background: #F8AD03;
    height: 12vw;
    position: absolute;
    top: -75px;
    width: 100%;
    z-index: 2;
}

#banner .bottom .block-button {
    display: flex;
    justify-content: flex-end;
    padding: 30px 0 60px;
    position: relative;
    z-index: 5;
}

#banner .bottom .block-button .btn {
    padding: 1.7vw 4vw;
    margin-right: 3vw;
    font-size: 1.5vw;
}

#banner .bottom p.mini {
    font-size: 12px;
    padding-left: 50px;
    padding-bottom: 10px;
    position: relative;
    z-index: 5;
}
