#banner {
    background: #ECE8E2;
    width: 85vw;
    min-height: 75vh;
}

.banner_close {
    top: 1.2em;
    right: 4em;
    position: absolute;
    width: 100px;
    height: 100px;
    font-size: 36px;
    z-index: 100;
}

#banner h2 {
    background: url(../img/banner/clock1.svg) no-repeat left center, url(../img/banner/clock2.svg) no-repeat 116px center;
    padding-left: 164px;
    min-height: 270px;
    width: 90%;
    margin: 1em auto 0;
}

#banner h2 .num {
    float: left;
    font-weight: bold;
    font-size: 2.2em;
    line-height: 1.1;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
}

#banner h2 .grey {
    font-weight: bold;
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #444444;
    opacity: 0.5;
    display: block;
    padding-top: 1.65em;
}

#banner h2 .text {
    font-weight: bold;
    font-size: 1em;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
}

.string {
    background: #fff;
    transform: skewY(-5.16deg);
}

#marquee {
    overflow: hidden;
    width: 100%;
}

#marquee span {
    width: 50%;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 47px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
}

#marquee div {
    width: 200%;
}

#banner .bottom {
    background: #F8AD03;
    position: relative;
    padding-top: 100px;
    margin-top: 75px;
}

#banner .bottom .top-transform {
    transform: skewY(-5.16deg);
    background: #F8AD03;
    height: 150px;
    position: absolute;
    top: -75px;
    width: 100%;
}

#banner .bottom .block-button {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 50px;
}

#banner .bottom .block-button .btn {
    padding: 30px 70px;
    margin-right: 5em;
}

#banner .bottom .block-button .btn:last-child {
    margin-right: 10em;
}

@media (max-width:1500px) {
    #banner h2 {
        background: url(../img/banner/clock1.svg) no-repeat left center, url(../img/banner/clock2.svg) no-repeat 86px center;
        background-size: 200px, 40px;
        margin-top: 1.8em;
        padding-left: 140px;
    }

    #banner h2 .grey {
        font-size: 34px;
    }

    #marquee span {
        font-size: 33px;
    }

    #banner .bottom .block-button .btn:last-child {
        margin-right: 8em;
    }
}

@media (max-width:1300px) {
    #banner h2 {
        background: url(../img/banner/clock1.svg) no-repeat left center, url(../img/banner/clock2.svg) no-repeat 76px center;
        background-size: 170px, 30px;
        margin-top: 1.8em;
        padding-left: 120px;
        min-height: 200px;
    }

    #banner h2 .num {
        line-height: 1;
    }

    #banner h2 .grey {
        font-size: 30px;
    }

    #banner h2 .text {
        font-size: 85px;
    }

    #marquee span {
        font-size: 31px;
    }

    #banner .bottom .block-button .btn {
        padding: 25px 60px;
    }

    #banner .bottom .block-button .btn:last-child {
        margin-right: 5em;
    }
}

@media (max-width:1100px) {
    #banner {
        min-height: 50vh;
    }

    .banner_close {
        width: 80px;
        height: 80px;
        font-size: 24px;
        top: 40px;
        right: 50px;
    }

    #banner h2 {
        background: url(../img/banner/clock1.svg) no-repeat left center, url(../img/banner/clock2.svg) no-repeat 66px center;
        background-size: 150px, 30px;
        margin-top: 2em;
        padding-left: 110px;
        min-height: 150px;
    }

    #banner h2 .num {
        line-height: 1;
        font-size: 2em;
    }

    #banner h2 .grey {
        font-size: 24px;
        padding-top: 1em;
    }

    #banner h2 .text {
        font-size: 65px;
    }

    #marquee span {
        font-size: 25px;
    }

    #banner .bottom .block-button {
        padding-bottom: 100px;
        margin-top: 30px;
    }

    #banner .bottom .block-button .btn {
        padding: 25px 60px;
    }

    #banner .bottom .block-button .btn:last-child {
        margin-right: 5em;
    }
}

@media (max-width:870px) {

    #banner h2 {
        background: url(../img/banner/clock1.svg) no-repeat left center, url(../img/banner/clock2.svg) no-repeat 56px center;
        background-size: 120px, 20px;
        margin-top: 2em;
        padding-left: 90px;
        min-height: 120px;
    }

    #banner h2 .num {
        line-height: 1;
        font-size: 1.9em;
    }

    #banner h2 .grey {
        font-size: 18px;
        padding-top: 1em;
    }

    #banner h2 .text {
        font-size: 48px;
    }

    #marquee span {
        font-size: 18px;
    }

    #banner .bottom .block-button {
        padding-bottom: 80px;
        margin-top: 5px;
    }

    #banner .bottom .block-button .btn {
        padding: 15px 50px;
    }

    #banner .bottom .block-button .btn {
        margin-right: 2em;
        font-size: 16px;
    }

    #banner .bottom .block-button .btn:last-child {
        margin-right: 2em;
    }
}

@media (max-width:700px) {
    .banner_close {
        width: 50px;
        height: 50px;
        font-size: 18px;
        top: 20px;
        right: 10px;
    }

    #banner h2 {
        background: url(../img/banner/clock1.svg) no-repeat left center, url(../img/banner/clock2.svg) no-repeat 26px center;
        background-size: 40px, 10px;
        margin-top: 2em;
        padding-left: 30px;
        min-height: 50px;
    }

    #banner h2 .num {
        line-height: 1;
        font-size: 24px;
    }

    #banner h2 .grey {
        font-size: 11px;
        padding-top: 1em;
    }

    #banner h2 .text {
        font-size: 28px;
    }

    #marquee span {
        font-size: 19px;
    }

    #banner .bottom .block-button {
        padding-bottom: 80px;
        margin-top: 5px;
    }

    #banner .bottom .block-button .btn {
        padding: 15px 50px;
    }

    #banner .bottom .block-button .btn {
        margin-right: 2em;
        font-size: 16px;
    }

    #banner .bottom .block-button .btn:last-child {
        margin-right: 2em;
    }
}